// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
// 'Comfortaa', cursive;
// Light 300 Regular 400 Medium 500 Semi-bold 600 Bold 700

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Righteous&display=swap');
// 'Righteous', 'Lobster Two';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
// 'Roboto', sans-serif; (THIN 100)

// Define fonts for body and headers
// $body-font: "Work Sans", "Helvetica", "sans-serif";
// $headers-font: "Nunito", "Helvetica", "sans-serif";

$body-font: 'Comfortaa', cursive;
$headers-font: 'Comfortaa', cursive;
$home-heading: 'Righteous', 'Lobster Two';

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
