body {
  margin-top: 20px;
}
.events_area {
  padding: 100px;
  background: white;
  position: relative;
  border-radius: 10px;
}
@media (max-width: 991px) {
  .events_area {
    padding: 70px 0;
  }
}
.events_area .event-link {
  color: #fdc632;
  font-size: 13px;
  text-transform: uppercase;
}
.events_area .event-link img {
  margin-left: 5px;
  display: inline-block;
}

.single_event {
  margin-bottom: 30px;
}
.single_event .event_thumb {
  overflow: hidden;
}
.single_event .event_thumb img {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.single_event .event_details {
  background: #2b303c;
  width: 350px;
  padding: 30px 25px;
  color: #ffffff;
  border-radius: 10px;
}
.single_event .event_details .date {
  color: #ffffff;
  padding-right: 15px;
  border-right: 2px solid #fff;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
}
.single_event .event_details .date span {
  display: block;
  color: #fdc632;
  font-size: 40px;
  font-weight: 500;
}
.single_event .event_details .time-location {
  padding-left: 15px;
  font-size: 22px;
}
.single_event .event_details .time-location p {
  margin-bottom: 0px;
}
.single_event .event_details .time-location p span {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
}
.single_event:hover img {
  transform: scale(1.1);
}
.single_event:hover h4 a {
  color: #fdc632;
}

#delete_btn {
  background-color: white;
  color: #f44235;
  font-size: 20px;
  font-weight: bolder;
  justify-content: center;
  border-style: none;
}

#delete_btn:hover {
  background-color: #f44235;
  color: white;
}

a#calendar_btn {
  color: #2572ff;
  font-size: 30px;
}

.calendar_round_btn {
  text-align: right;
}

p#event_name {
  font-size: 20px;
}

.booking-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
