#clockdiv {
  font-family: sans-serif;
  color: black;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  color: white;
  opacity: 0.3px;
}

#clockdiv > div {
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
}

#clockdiv div > span {
  padding: 15px;
  border-radius: 3px;
  display: inline-block;
}

