.message-bg {
  //margin-top: 100px;
  background-color: #eef0f1;
  // background-color: #2b303f;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  opacity: 1;
  border: 2px solid whitesmoke;
  padding: 10px;
  height: 495px;
  width: 100%;
}

.scroll {
  height: 400px;
  overflow-y: auto;
}

.message-avatar {
  height: auto;
  border-radius: 100%;
  border: 0.5px solid white;
  position: relative;
}

.message-container {
  width: 100%;
  padding: 20px;
  //background-image: asset_url("");
  background-size: contain;
  border-radius: 12px;
}

.message-box {
  margin: 1px;
  padding: 1px;
  span {
    font-size: 12px;
    vertical-align:top;
  }
}

.message-content-me {
  display:inline-block;
  padding:10px 30px;
  margin-left: 5px;
  border: 0.8px solid #d1d1d1;
  border-radius: 12px;
  background: lighten(#c5eaff, 10%);
  color: #2b303b;
}

.message-content-other {
  display:inline-block;
  padding:10px 20px;
  margin-right: 5px;
  border: 0.8px solid #d1d1d1;
  border-radius: 12px;
  background: lighten(#ffffff, 10%);
  color: #2b303b;
}

.input_message {
}

.input_message .form-control {
  border-radius: 12px;
}
