.container {
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  margin: 0 30px;
}

.profile-card {
  flex: 1 1 30%;
  max-width: 300px;
  background: #fff;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 #ccc;
  transition: .3s;
}

.profile-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px -5px #ccc;
}

.profile-icon {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-name {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin: 25px 0 10px 0;
}

.profile-position {
  font-size: 16px;
  color: #777;
  text-align: left;
}

.button {
  margin: 20px 0 0 0;
  padding: 10px 20px;
  color: #999;
  text-decoration: none;
  border: 1px solid #999;
  border-radius: 4px;
  text-align: right;
}

.button:hover {
  color: #fff;
  background: #167FFF;
  border: 1px solid #167FFF;
}

#booking.btn :active {
  background-color: #167FFF;;
}

.btn btn-primary btn-lg {
  color: white;
  background: #167FFF;
  border: 1px solid #167FFF;
}

.btn-primary:hover {
  color: #167FFF;
  background: white;
  border: 1px solid #167FFF;
}

.carousel-image {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background-size: cover;
  background-position: top;
  object-fit: cover;
}


a.btn.rounded-pill.border {
  background-color: white;
  color: #F44235;
  border-color: #F44235;
  border-style: solid;
  font-weight: bolder;
  font-size: 20px;
}

a.btn.rounded-pill.border:hover {
  background-color: #F44235;
  color: white;
}

.btn-secondary {
  margin: 40px auto 0px;
  text-align: center;
  background: white;
  border-radius: 3px;
  box-shadow: 0 10px 20px -8px rgb(240, 75, 113);
  padding: 10px 17px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #F44235;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 10px;
  border: 2px solid #F44235;
}
.btn-secondary:hover {
  transform: translateY(-3px);
  background-color: #F44235;
  color: white;
  border: none;
}

.btn-secondary_you {
  margin: 40px auto 0px;
  text-align: center;
  background: #F44235;
  border-radius: 3px;
  box-shadow: 0 10px 20px -8px rgb(240, 75, 113);
  padding: 10px 17px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 10px;
  border: 2px solid #F44235;
}

p.text-muted {
  font-size: 20px;
}

.a.button {
  border: 1px solid #167FFF;
  color: #167FFF
}
.btn-secondary .fa {
  margin-right: 5px;
}
.animate-like {
animation-name: likeAnimation;
animation-iteration-count: 1;
animation-fill-mode: forwards;
animation-duration: 0.65s;
}
@keyframes likeAnimation {
0%   { transform: scale(30); }
100% { transform: scale(1); }
}

@media screen and (max-width: 1000px) {
  .profile-name {
      font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .profile-card {
      padding: 20px 15px;
  }

  .profile-name {
      font-size: 16px;
  }
}

