.h1-title {
  font-family: 'Righteous', 'Lobster Two';
  font-size: 10rem;
  color: white;
}

.h1-home {
  font-family: 'Righteous', 'Lobster Two';
  font-size: 3.3rem;
  //color: #c5eaff;
  color: white;
}

.h2-home {
  font-family: 'Righteous', 'Lobster Two';
  font-size: 2.2rem;
  color: white;
}

h4 i {
  color: red;
}

h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 2.5rem;
}

h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 1.7rem;
}

h3 {
  font-family: 'Comfortaa', cursive;
  font-size: 1.5rem;
}

h4 {
  font-family: 'Comfortaa', cursive;
  font-size: 1.3rem;
  font-weight: medium;
}

h5 {
  font-family: 'Comfortaa', cursive;
  font-size: 1rem;
}

body p {
  font-family: 'Comfortaa', cursive;
  font-weight: normal;
  color: black;
}

