.h1-title {
  font-family: 'Righteous', 'Lobster Two';
  font-size: 10rem;
  color: white;
  text-shadow: 1px 1px rgba(148, 144, 144, 0.747);
  letter-spacing: 0.6px;
}

.h1-home {
  font-family: 'Righteous', 'Lobster Two';
  font-size: 3.3rem;
  //color: #c5eaff;
  color: white;
  text-shadow: 1px 1px rgba(148, 144, 144, 0.747);
  letter-spacing: 0.6px;
}

.h1-home a {
  color: white;
  letter-spacing: 0.6px;
}

.h2-home {
  font-family: 'Righteous', 'Lobster Two';
  font-size: 2.2rem;
  color: white;
  text-shadow: 1px 1px rgba(148, 144, 144, 0.747);
  letter-spacing: 0.6px;
}

.h2-home a {
  color: white;
}

h4 i {
  color: red;
  letter-spacing: 0.6px;
}

h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 2.5rem;
  letter-spacing: 0.6px;
}

h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 1.9rem;
  font-weight: 500;
  letter-spacing: 0.6px;
}

h3 {
  font-family: 'Comfortaa', cursive;
  font-size: 1.6rem;
}

h4 {
  font-family: 'Comfortaa', cursive;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.6px;
}

h5 {
  font-family: 'Comfortaa', cursive;
  font-size: 1rem;
  letter-spacing: 0.6px;
}

body p {
  font-family: 'Comfortaa', cursive;
  font-weight: normal;
  letter-spacing: 0.6px;
}

.btn {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  border-radius: 6px;
  letter-spacing: 0.6px;
}

.info-tag {
  font-size: 20px;
  //color: whitesmoke;
  color: #2b303c;
}

.h1-match {
  font-family: 'Righteous', 'Lobster Two';
  font-size: 3.3rem;
  //color: #c5eaff;
  color: #f7939d;
  text-shadow: 1px 1px rgba(148, 144, 144, 0.747);
}

.h2-match {
  font-family: 'Righteous', 'Lobster Two';
  font-size: 2.2rem;
  color: #f7939d;
  text-shadow: 1px 1px rgba(148, 144, 144, 0.747);
}

.h3-match {
  font-family: 'Righteous', 'Lobster Two';
  font-size: 1.9rem;
  color: #f7939d;
  text-shadow: 1px 1px rgba(148, 144, 144, 0.747);
}

.grey-sub {
  color: #7A7A7A;
}
