.h1-title {
  font-family: 'Righteous', 'Lobster Two';
  font-size: 10rem;
  color: white;
  text-shadow: 1px 1px rgba(148, 144, 144, 0.747);
}

.h1-home {
  font-family: 'Righteous', 'Lobster Two';
  font-size: 3.3rem;
  //color: #c5eaff;
  color: white;
  text-shadow: 1px 1px rgba(148, 144, 144, 0.747);
}

.h1-home:hover {
  color: #f70008;
  transition: 1500ms;
}

.h1-home a {
  color: white;
}

.h1-home a:hover {
  color: #f70008;
  transition: 1500ms;
}

.h2-home {
  font-family: 'Righteous', 'Lobster Two';
  font-size: 2.2rem;
  color: white;
  text-shadow: 1px 1px rgba(148, 144, 144, 0.747);
}

.h2-home:hover {
  color: #f70008;
  transition: 1500ms;
}

.h2-home a {
  color: white;
}

.h2-home a:hover {
  color: #f70008;
  transition: 1500ms;
}

h4 i {
  color: red;
}

h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 2.5rem;
}

h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 1.9rem;
  font-weight: 500;
}

h3 {
  font-family: 'Comfortaa', cursive;
  font-size: 1.6rem;
}

h4 {
  font-family: 'Comfortaa', cursive;
  font-size: 1.4rem;
  font-weight: bold;
}

h5 {
  font-family: 'Comfortaa', cursive;
  font-size: 1rem;
}

body p {
  font-family: 'Comfortaa', cursive;
  font-weight: normal;
}

.btn {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  border-radius: 6px;
}
