var heart = document.querySelector('.js-heart[data-user-id="<%=@user.id%>"]');
console.log(heart);
heart.innerHTML = '<span id="heart_btn", class="btn-secondary_you "><i class="fa fa-heart" aria-hidden="true"></i> Liked </span>';
/*
$(function(){
	$(document).one('click', '.like-review', function(e) {
		$(this).html('<span id="heart_btn", class="btn-secondary mt-4"><i class="fa fa-heart" aria-hidden="true"></i> You liked them</span>');
		$(this).children('.fa-heart').addClass('animate-like');
	});
});
*/
