<%= simple_form_for([@booking.event, @booking]) do |f| %>
  <h3> Make a booking </h3>
    <%= f.input :start_time, as: :string %>
    <%= f.submit "Book now", class: "btn-theme btn-block btn-booking" %>
<% end %>

