<div class="d-flex justify-content-around">
  <div>
    <ul class="footer-links">
      <h5> SAFETY </h5>
      <li><a href="#"> Community Guidelines </a></li>
      <li><a href="#"> Safety tips </a></li>
      <li><a href="#"> Safety & Policy </a></li>
      <li><a href="#"> Safety & reporting </a></li>
      <li><a href="#"> Security </a></li>
    </ul>
  </div>

  <div>
    <ul class="footer-links">
      <h5> LEGAL </h5>
      <li><a href="#"> Privacy </a></li>
      <li><a href="#"> Terms </a></li>
      <li><a href="#"> Cookie Policy </a></li>
      <li><a href="#"> Intellectual Property </a></li>
    </ul>
  </div>

  <div>
    <ul class="footer-links">
      <h5> CAREERS </h5>
      <li><a href="#"> Careers portal </a></li>
      <li><a href="#"> Tech Blog </a></li>
    </ul>
  </div>
  
  <div class="footer-links d-flex justify-space-between">
  <ul>
    <h5> SOCIAL </h5>
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </ul>
  </div>
  <ul class="footer-links">
  <h5> FAQ </h5>
    <li><a href="#"> Press room </a></li>
    <li><a href="#"> Contact </a></li>
    <li><a href="#"> Promo code </a></li>
  </ul>
</div>
