
<h1 class="interests-header">Your Interests</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 m-5 card">
      <%= simple_form_for [@user_interest] do |f| %>
      <%=f.input :interest, collection: Interest.all, input_html: {multiple: true}, include_hidden: false  %>
      <%= f.submit "add interests", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>