<h1> Pages#home </h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p> Links: </p>

<p> <%= link_to "Complete/Edit Profile", edit_user_registration_path %> </p>
<p> <%= link_to "Add your Interests", new_user_interests_path %> </p>
<p> <%= link_to "Profiles + Show Profile", profiles_path %> </p>
<p> <%= link_to "All Dating Sessions", events_path %> </p>
