<div class="row no-gutters">
  <div class="col-sm-6">
  </div>

  <div class="col-sm-6 mt-4">
    <div class="row justify-content-center mt-4">
      <div class="col-sm-10 std-card">
        <p class="font-weight-bold">About our webapp 💻 </p>
        <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id lacinia lacus. Fusce dapibus purus suscipit maximus euismod. Cras lacinia dolor vitae quam ultrices, vitae laoreet est blandit. Praesent vitae nibh ut sem lobortis ullamcorper. Duis a nisi finibus, varius orci in, pretium metus. Donec a placerat orci, porta iaculis magna. Sed non tempus nisl, id maximus quam. In vitae justo eget lacus eleifend commodo. Sed ut sem elit. Curabitur rutrum faucibus aliquet. In nec mollis lorem. </p>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-sm-10 std-card">
        <p class="font-weight-bold"> Step 1️⃣ </p>
        <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id lacinia lacus. Fusce dapibus purus suscipit maximus euismod. Cras lacinia dolor vitae quam ultrices, vitae laoreet est blandit. Praesent vitae nibh ut sem lobortis ullamcorper. Duis a nisi finibus, varius orci in, pretium metus. Donec a placerat orci, porta iaculis magna. Sed non tempus nisl, id maximus quam. In vitae justo eget lacus eleifend commodo. Sed ut sem elit. Curabitur rutrum faucibus aliquet. In nec mollis lorem. </p>
      </div>
    </div>

    <div class="row justify-content-center mt-2">
      <div class="col-sm-10 std-card">
        <p class="font-weight-bold"> Step 2️⃣ </p>
        <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id lacinia lacus. Fusce dapibus purus suscipit maximus euismod. Cras lacinia dolor vitae quam ultrices, vitae laoreet est blandit. Praesent vitae nibh ut sem lobortis ullamcorper. Duis a nisi finibus, varius orci in, pretium metus. Donec a placerat orci, porta iaculis magna. Sed non tempus nisl, id maximus quam. In vitae justo eget lacus eleifend commodo. Sed ut sem elit. Curabitur rutrum faucibus aliquet. In nec mollis lorem. </p>
      </div>
    </div>

    <div class="row justify-content-center mt-2">
      <div class="col-sm-10 std-card">
        <p class="font-weight-bold"> Step 3️⃣ </p>
        <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id lacinia lacus. Fusce dapibus purus suscipit maximus euismod. Cras lacinia dolor vitae quam ultrices, vitae laoreet est blandit. Praesent vitae nibh ut sem lobortis ullamcorper. Duis a nisi finibus, varius orci in, pretium metus. Donec a placerat orci, porta iaculis magna. Sed non tempus nisl, id maximus quam. In vitae justo eget lacus eleifend commodo. Sed ut sem elit. Curabitur rutrum faucibus aliquet. In nec mollis lorem. </p>
      </div>
    </div>

    <div class="row justify-content-center mt-4 mb-4" >
      <% if current_user %>
      <p> <%= link_to "My Profile", profile_path(current_user), class: "btn-red" %> </p>
      <% end %>
    </div>

  </div>
</div>


   


