<div class="container justify-content-center">
  <h2> Countdown: </h2>
  <div class="row justify-content-center" id="clockdiv">
    <div>
      <span class="minutes"></span>
      <div class="smalltext">Minutes</div>
    </div>
    <div>
      <span class="seconds"></span>
      <div class="smalltext">Seconds</div>
    </div>
  </div>
</div>
