<div class="row no-gutters mt-4">
  <div class="col-sm-6 mt-4">
    <div class="row justify-content-center ml-4">
      <div class="col-sm-10 std-card ml-4">
        <h4> Contacts </h4>
        <% @contacts.each do |contact| %>
        <p><%=  %> <%= link_to contact.user.name, match_path(contact.match, mutual: true), class: "btn rounded-pill border" %> </p>
        <%# raise %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
  </div>
</div>
