<div class="row no-gutters mt-4">
  <div class="col-sm-6 mt-4">
    <div class="row justify-content-center ml-4">

      <div class="col-sm-2 ml-4">
        <h4> Contacts </h4>
        <% @contacts.each do |contact| %>
        <p><%=  %> <%= link_to contact.user.name, mutual_matches_matches_path(match: contact.match.id), class: "btn-red" %> </p>
        <% end %>
      </div>

      <div class="col-sm-8 ml-4">
        <% if @match %>
          <div class="row justify-content-center mt-4 mb-3">
            <%= render 'messages/message_container' %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
