
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.simple-calendar {
  table {
    min-height: 60vh;
  }
  .today {

  }
}

.meeting {
  color: black;
  padding: 8px 18px;
  border-radius: 4px;
  transition: background 0.3s ease;
  text-decoration: none;
  background-color: #b0c6f3;
  opacity: 1;
  text-shadow: none;
  text-align: center;
}

.meeting:hover {
  background: #699bff;
  color: white;
  text-shadow: none;
}

.meeting a {
  text-decoration: none;
  color: #fb1800;
  text-shadow: none;
}

.meeting a:hover {
  text-decoration: none;
  font-size: 10px;
  font-weight: bolder;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  
}

.callendar-body-style {
  color: white;
}

.simple-calendar {
  .day {
    background-color: rgb(255, 203, 203);
    text-shadow: 1px 1px rgba(148, 144, 144, 0.747);
    margin: 5px;
  }

  .wday-0 {
    
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    border: 2px solid white;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background-color: #CFEEFF;
  }
  .next-month { 
    background-color: #CFEEFF;
  }
  .current-month {}

  .has-events {}

  .table thead th {
     text-align: center;
     background-color: rgba(255,300,40,0.1);
  }
}

