.simple-calendar {
  table {
    min-height: 60vh;
  }
  .today {

  }
}

.meeting {
  color: black;
  padding: 8px 18px;
  border-radius: 4px;
  transition: background 0.3s ease;
  text-decoration: none;
  background-color: white;
  opacity: 1;
}

.meeting:hover {
  background: #b0c6f3;
  color: white
}

.meeting a {
  text-decoration: none;
  color: black;
}

.meeting a:hover {
  text-decoration: none;
  color: blue;
}
