
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.simple-calendar {
  table {
    min-height: 60vh;
  }
  .today {

  }
}

.meeting {
  padding: 8px 18px;
  border-radius: 4px;
  transition: background 0.5s ease;
  text-decoration: none;
  background-color: #84ACFD;
  opacity: 1;
  text-shadow: none;
  text-align: center;
}

.meeting:hover {
  background: #699bff;
  color: #2b303b;
  // color: whitesmoke;
  text-shadow: none;
  font-weight: bolder;
}

.meeting a {
  text-decoration: none;
  color: #fb1800;
  //text-shadow: none;
  font-weight: bold;
}

.meeting a:hover {
  text-decoration: none;
  //font-size: 10px;
  font-weight: bolder;
  //transition-delay: 0.1s;
  //transition-duration: 0.2s;
  
}

.callendar-body-style {
  // color: white;
  color: #2b303b;
}

.simple-calendar {
  .day {
    // background-color: rgba(148, 144, 144, 0.747);
    background-color: whitesmoke;
    // background-color: #2b303b;
    // text-shadow: 1px 1px rgba(148, 144, 144, 0.747);
    margin: 5px;
  }

  .wday-0 {
    
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    // border: 2px solid whitesmoke;
    border: 2px solid #c2c2c2;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    // background-color: #f7939d;
    background-color: #E2E2E2;
  }
  .next-month { 
    //background-color: #f7939d;
    background-color: #E2E2E2;
  }
  .current-month {}

  .has-events {}

  .table thead th {
     text-align: center;
     //background-color: #2b303b;
     //color: whitesmoke;
     background-color: whitesmoke;
     color: #2b303b;
  }
}

