.std-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #eef0f1;
  color: #2b303b;
  // background-color: #2b303b;
  // color: whitesmoke;
  border-radius: 12px;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.std-card-once {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #eef0f1;
  color: #2b303b;
  // background-color: #2b303b;
  // color: whitesmoke;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding-bottom: 6px;
  margin-bottom: 6px;
}
