.footer {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  width: 100%;
  min-height: 150px;
  height: 180px;
  //padding: 20px 40px;
  color: rgba(0,0,1,1);
  border-top: 0.9px solid #d1d1d1;
  margin: 0px;
  padding: 0px;
}

.footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.footer-links .fab {
  padding: 10px;
  font-size: 20px;
}

.footer-links a {
  color: black;
  opacity: 0.4;
  text-decoration: none;
  //padding: 0px 10px;
  font-size: 16px;
}

.footer-links a:hover {
  opacity: 0.8;
  color: #D23333;
}

