

.interest_title {
  color: white;
  font-weight: 900;
}

.p-none {
	//padding: 0 !important;
}

.profile-banner {
	object-fit: cover;
	border-top-left-radius: 12px;
  border-top-right-radius: 12px;
	width: 100%;
}

a:link {
  text-decoration: none;
}

.container {
	//position: center;
	//left: 610px;
}

.profile-interest {
  cursor: pointer;
  display: inline-block;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.profile-interest:hover {
  color: #ff5577;
  transition: 400ms;
}
