

.interest_title {
	font-size: 14px;
}

.p-none {
	padding: 0 !important;
}

.profile-banner {
	object-fit: auto;
	border-radius: 8px;
	width: 100%;
}

a:link {
  text-decoration: none;
}

.container {
	position: center;
	left: 610px;
}
