/* Style the links inside the sidenav */
#mysidenav a {
  position: absolute; /* Position them relative to the browser window */
  z-index: 9;
  left: 0; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 12px; /* 12px padding */
  width: 100%; /* Set a specific width */
  height: 50px;
  text-decoration: none; /* Remove underline */
  font-size: 12px; /* Increase font size */ /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  text-align: center;
  color: #3d81db;
  font-size: 25px;
}

.sidenav {
  background-color: white;
}

#mysidenav a {
  text-decoration: none;
}

#home {
  top: 180px;
  color: #167FFB;
  &:before {
    color: #167FFB;
  }
}

#home:hover {
  color: #167FFB;
  background-color: #A2DBFA;
}

#profile {
  top: 280px;
  color: #167FFB;
  &:before {
    color: #167FFB;
  }
}

#profile:hover {
  color: #167FFB;
  background-color: #A2DBFA;
}

#bookings {
  top: 380px;
  color: #167FFB;
  &:before {
    color: #167FFB;
  }
}

#bookings:hover {
  color: #167FFB;
  background-color: #A2DBFA;
}

#inbox {
  top: 480px;
  color: #167FFB;
  &:before {
    color: #167FFB;
  }
}

#inbox:hover {
  color: #167FFB;
  background-color: #A2DBFA;
}

#user_login {
  top: 580px;
  color: #167FFB;
  &:before {
    color: #167FFB;
  }
}

#user_login:hover {
  color: #167FFB;
  background-color: #A2DBFA;
}

#user_logout {
  top: 580px;
  color: #167FFB;
  &:before {
    color: #167FFB;
  }
}

#user_logout:hover {
  color: #167FFB;
  background-color: #A2DBFA;
}

.nav-background {
  background-color: white;
  position: fixed;
  padding-right: 70px;
  border-radius: 32px;
  margin-left: 10px;
  margin-top: 8px;
  height: 94%;
  z-index: 1;
}
