/* Style the links inside the sidenav */
#mysidenav a {
  position: absolute; /* Position them relative to the browser window */
  z-index: 9;
  left: 0; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 12px; /* 12px padding */
  width: 100%; /* Set a specific width */
  height: 50px;
  text-decoration: none; /* Remove underline */
  font-size: 12px; /* Increase font size */ /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  text-align: center;
  color: #3d81db;
  font-size: 24px;
  
}

/* The about link: 20px from the top with a green background */
#image {
  top: 80px;
}
#home:hover {
  color: #2262d8;
  background-color: #a1c1fd;
}
 
#home {
  top: 180px;
 
}

#profile:hover {
  color: #2262d8;
  background-color: #a1c1fd;
} 

#profile {
  top: 280px;
}

#bookings:hover {
  color: #2262d8;
  background-color: #a1c1fd;
}

#bookings {
  top: 380px;
}

#user_login:hover {
  color: #2262d8;
  background-color: #a1c1fd;
}

#user_login {
  top: 480px;
}

#user_logout:hover {
  color: #2262d8;
  background-color: #a1c1fd;
}

#user_logout {
  top: 580px;
}

.nav-background {
  background-color: white;
  position: absolute;
  padding-right: 70px;
  border-radius: 32px;
  margin-left: 6px;
  margin-top: 8px;
  height: 98%;
  
}
