/* Style the links inside the sidenav */
#mysidenav a {
  position: absolute; /* Position them relative to the browser window */
  z-index: 9;
  left: 0; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 12px; /* 12px padding */
  width: 100%; /* Set a specific width */
  height: 50px;
  text-decoration: none; /* Remove underline */
  font-size: 12px; /* Increase font size */ /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  text-align: center;
  font-size: 25px;
}

.sidenav {
  background-color: white;
}

#mysidenav a {
  text-decoration: none;
}

#profile {
  top: 180px;
  color: #A2DBFA;
  &:before {
    color: #A2DBFA;
  }
}

#profile:hover {
  color: #A2DBFA;
  background-color: #CFEEFF;
}

#profiles {
  top: 280px;
  color: #A2DBFA;
  &:before {
    color: #A2DBFA;
  }
}

#profiles:hover {
  color: #A2DBFA;
  background-color: #CFEEFF;
}

#home {
  top: 380px;
  color: #A2DBFA;
  &:before {
    color: #A2DBFA;
  }
}

#home:hover {
  color: #A2DBFA;
  background-color: #CFEEFF;
}

#bookings {
  top: 480px;
  color: #A2DBFA;
  &:before {
    color: #A2DBFA;
  }
}

#bookings:hover {
  color: #A2DBFA;
  background-color: #CFEEFF;
}

#inbox {
  top: 580px;
  color: #A2DBFA;
  &:before {
    color: #A2DBFA;
  }
}

#inbox:hover {
  color: #A2DBFA;
  background-color: #CFEEFF;
}

#user_login {
  top: 680px;
  color: #A2DBFA;
  &:before {
    color: #A2DBFA;
  }
}

#user_login:hover {
  color: #A2DBFA;
  background-color: #CFEEFF;
}

#user_logout {
  top: 680px;
  color: #A2DBFA;
  &:before {
    color: #A2DBFA;
  }
}

#user_logout:hover {
  color: #A2DBFA;
  background-color: #CFEEFF;
}

.nav-background {
  background-color: whitesmoke;
  // background-color: #2b303c;
  position: fixed;
  padding-right: 70px;
  border-radius: 32px;
  margin-left: 10px;
  margin-top: 8px;
  height: 94%;
  z-index: 1;
}

#logo-dots {
  color: #2b303c;
  position: absolute;
  font-size: 25px;
  font-weight: bold;
  word-spacing: -4px;
    top: 51px;
    left: 14px;
}

#logo-c {
  color: #2b303c;
  // color: white;
  position: absolute;
  font-size: 25px;
  top: 58px;
  left: 29px;
}
